<h2>Rotas</h2>

<% @routes.each do |route| %>
<tr>
    <td><%= route.verb %></td>
    <%= link_to route.path.spec.to_s.gsub(/\(\.:format\)$/, ''), route.path.spec.to_s.gsub(/\(\.:format\)$/, ''), class: 'btn btn-primary' %>
</tr>
<hr/>
<% end %>
